/* Cor 1 - Títulos */
h1, h2 {
    color: blue;
}

/* Cor 2 - Textos */
p, li, label, th, td {
    color: black;
}

/* Cor 3 - Destaques */
nav ul li:nth-child(2) {
    color: red;
}

table tbody tr:nth-child(2) {
    color: red;
}

label:nth-of-type(even) {
    color: red;
}